/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
    color: white;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

html {
    scroll-behavior: smooth
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(./fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(./fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

body {
    margin: 0 auto;
}

.intro {
    background: url(./images/intro_backgrnd.svg) no-repeat;
    background-size: cover;
    height: 700px;
    z-index: 1;
}

.intro_container {
    background: rgba(60, 54, 62, 0.46);
    height: 700px;
    z-index: 2;
}

.intro_wrapper {
    padding: 0 100px;
    margin: 0 auto;
    max-width: 1500px;
}

@media(max-width: 980px) {
    .intro_wrapper {
        padding: 0 20px;
    }
}

.header {
    width: 100%;
    z-index: 3;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 32px;
}

.city {
    display: block;
}

.header_navbar_wrap {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.86px;
    display: flex;
    width: 357px;
    justify-content: space-between;
    margin-top: 28px;
}


.header_navbar_wrap a {
    color: rgba(255, 255, 255, 1);
}

.header_navbar_wrap a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.header_phone {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.32px;
    margin-top: 28px;
    color: rgba(255, 255, 255, 1);;
}

.header_phone:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

@media (max-width: 870px) {
    .intro, .intro_container {
        height: 513px;
    }

    .header_navbar_wrap, .header_phone {
        display: none;
    }
}

.club_info {
    margin-top: 94px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.club_info.visible {
    opacity: 1;
    transform: translateY(0);
}

.club_desc_up {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    color: rgba(255, 255, 255, 1);
}

.club_desc_down {
    margin-top: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.18px;
    color: rgba(255, 255, 255, 1);
}

.space_text {
    display: block;
}

.trial_session_form {
    width: 100%;
}

.trial_session_btn {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 27.32px;
    text-align: center;
    height: 67px;
    border-radius: 16px;
    padding: 16px;
    width: 100%;
}

#trial_session_intro {
    margin-top: 36px;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(91.5deg, #5DA1F8 0%, #3164B9 100%);
}

@media (max-width: 870px) {
    .club_desc_up {
        font-size: 48px;
        line-height: 48px;
    }

    .trial_session_btn {
        font-size: 16px;
    }
    .club_info{
        width: 280px;
    }
}

.main {
    max-width: calc(100vw-13vw);
    height: auto;
}

.about_us_title {
    font-family: 'Cormorant Garamond', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: rgba(36, 99, 235, 1);
    margin-top: 77px;
}

.about_us_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    padding: 48px 100px;
    max-width: 1500px;
    margin: 0 auto;
}

.about_us_info {
    color: rgba(84, 145, 223, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    height: max-content;
}

.info_card {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    height: max-content;
}

.info_card:not(:first-child) {
    margin-top: 32px;
}

.about_us_ul {
    display: block;
    gap: 48px;
    padding: 0;
    margin: 0;
}

.btn_mobile {
    display: none;
}

#info_1 {
    width: 240px;
}

#info_2 {
    width: 280px;
}

#info_3 {
    width: 268px;
}

#info_4 {
    width: 240px;
}

.video {
    max-width: 100%;
    max-height: 320px;
    border-radius: 16px;
}

.video_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#trial_session_video {
    background: rgba(51, 103, 188, 1);
    color: rgba(255, 255, 255, 1);
    margin-top: 34px;
}

#info_space_text_mobile {
    display: none;
}

@media (max-width: 1134px) {
    .video_container {
        justify-content: space-around;
    }    
}

@media (max-width: 990px) {
    /*.about_us_container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 48px 20px;
    }*/

    #info_1, #info_2, #info_3, #info_4 {
        width: 280px;
    }

    /*.info_card{
        justify-content: center;
    }*/

    .about_us_info {
        color: rgba(84, 145, 223, 1);
        font-size: 16px;
    }

    .about_us_title {
        color: rgba(84, 145, 223, 1);
    }
}


@media (max-width: 870px) {

    .about_us_container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 48px 20px;
    }

    .info_card{
        justify-content: center;
    }

    #info_space_text_mobile {
        display: inline;
    }

    #info_space_text_desktop {
        display: none;
    }

    .about_us_title {
        margin-top: 48px;
    }

    .btn_desktop {
        display: none;
    }

    .btn_mobile {
        display: inline;
    }

    .about_us_title {
        font-size: 32px;
        line-height: 40px;
    }

    .about_us_ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    
    .about_us_info {
        margin: 0 auto;
        max-width: 400px;
    }

    #trial_session_video {
        background: rgba(51, 103, 188, 1);
        color: rgba(255, 255, 255, 1);
        margin-top: 34px;
    }

    .video_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
    
    .video {
        width: 100%;
        height: auto;
    }
}

.slider_menu {
    background-color: rgba(105, 152, 255, 1);
    padding-top: 39px;
    margin-top: 100px;
    padding-bottom: 53px;
}

.slider_menu_container {
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 100px;
}

.slider_menu_title {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 90px;
    max-width: 563px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.slider_menu_info_list {
    max-width: 389px;
}

.slider_menu_info_ul {
    display: block;
    padding-left: 0;
}

.slider_menu_info_item::not(:last-child) {
    align-items: center;
    position: relative;
    padding-left: 20px;
    display: flex;
}

.slider_menu_info_item::before {
    content: "";
    background-image: url(./images/marker.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    margin-left: -20px; 
    margin-top: 15px;
}

.slider_menu_info_item:not(:first-child) {
    margin-top: 24px;
}

.slider_menu_info_item h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

.slider_menu_info_item p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 0;
}

@media (max-width: 990px) {
    .slider_menu_container {
        padding: 0 20px;
    }
}


@media (max-width: 870px) {
    .slider_menu {
        margin-top: 32px;
    }
    
    .slider_menu_title {
        font-size: 32px;
        height: auto;
        line-height: 40px;
    }

    .slider_menu_info_item h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .slider_menu_info_item p {
        font-size: 16px;
        line-height: 24px;
    }
}

.custom-slider {
    max-width: 1400px;
    margin: 0 auto;
}

.uk {
    margin-top: 74px;
}

.uk-mobile {
    display: none;
}

.uk-panel img {
    display: block;
    margin: 0 auto;
    width: 575px;
    height: 403px;
    object-fit: contain;
}

.uk-slider-items {
    display: flex;
    justify-content: center;
}

.uk-panel {
    margin: 0 10px;
}

.uk-slider-items .uk-width-1-2 {
    transition: opacity 0.5s ease;
}

.uk-slider-items .uk-width-1-2:not(.uk-active) {
    opacity: 0.5;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.trial_session_form_slider {
    width: 575px;
}

#trial_session_slider {
    background-color: rgba(255, 255, 255, 1);
    max-width: 100%;
    color: rgba(93, 161, 248, 1);;
}

.carousel_mobile{
    display: none;
}

@media (max-width: 860px) {

    /*.uk-desktop {
        display: none;
    }

    .uk-mobile {
        display: inline;
    }

    .uk-panel img{
        height: max-content;
    }*/

    .uk {
        display: none;
    }

    .carousel_mobile {
        display: inline;
        width: 500px;
    }

    .slider_menu_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .slider_menu_info_list {
        margin-top: 32px;
    }

    .slider_menu_info_ul {
        align-items: center;
        margin-left: 50px;
    }

    .slider_menu_info_item{
        position: relative;
        margin: 0 auto;
        width: 230px;
    }

    .slider_menu_info_item::before {
        background-image: url(./images/mobile_champs.svg);
        width: 30px;
        height: 30px;
        margin-left: -50px; 
        position: absolute;
        transform: translateY(-25%);
        top: 25%;
    }

    .trial_session_form_slider {
        width: auto;
    }

    #trial_session_slider {
        width: 100%;
    }

}

.training_program {
    display: flex;
    justify-content: center;
    margin-left: -230px;
    /*padding-bottom: 100px;*/
}

.training_program_container {
    margin-top: 137px;
}

.training_program_info {
    display: flex;
    gap: 50px;
}

.training_program_info_text {
    max-width: 417px;
    margin-top: 50px;
}

.training_program_info_title {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: rgba(51, 103, 188, 1);
    text-transform: uppercase;
}

.training_item {
    position: relative;
    margin-left: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(104, 148, 243, 1);
    margin-top: 12px;
}

.training_item::before {
    content: "";
    background-image: url(./images/train_prog_marker.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: -44px;
    transform: translateY(-50%);
    top: 50%;
}

#trial_session_program {
    margin-top: 24px;
    max-width: 386px;
    background-color: rgba(51, 103, 188, 1);
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 1100px) {
    .training_program {
        margin-left: 0px;
    }
}

@media (max-width: 870px) {
    .space_desktop {
        display: none;
    }

    .training_program_container {
        padding: 0 20px;
        margin-top: 0px;
        width: 100%;
    }

    .training_program_info_title {
        color: rgba(104, 148, 243, 1);
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }

    .training_program_info_text {
        display: flex;
        flex-direction: column;
    }

    .training_program_info_ul {
        margin-left: 40px;
    }

    .training_program_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .training_item {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 16px;
        line-height: 24px;
    }

    .training_item::before {
        background-image: url(./images/mobile_training.svg);
        width: 58px;
        height: 58px;
        margin-left: -80px;
    }

    .training_program_info_img {
        margin-top: 32px;
        display: flex;
        justify-content: center;
    }

    #trial_session_program {
        margin-top: 24px;
        margin-left: 0px;
    }

    #trial_session_slider {
        background-color: rgba(255, 255, 255, 1);
        max-width: 353px;
        color: rgba(93, 161, 248, 1);;
    }
}

/*.training_photos {
    margin-top: 95px;
}

.training_photos_three, .training_photos_two {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}*/

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}

.feedback_container {
    padding: 100px;
}

.feedback_title {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: rgba(104, 148, 243, 1);
    max-width: 420px;
    text-transform: uppercase;
}

.feedback_screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

@media (max-width: 870px) {
    .feedback_title {
        text-align: center;
        margin: 0 auto;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
    }

    .feedback_screenshots {
        margin-top: 30px;
        flex-direction: column;
    }

    #feedback_3 {
        margin-top: 30px;
    }
    
    /*#feedback_2, #feedback_3 {
        display: none;
    }*/
}

.footer {
    width: 100%;
    min-height: 300px;
    display: flex;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_contacts_container {
    background-color: rgba(93, 161, 248, 1);
    width: 50%;
    box-sizing: border-box;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_contacts_wrapper {
    margin-left: auto;
}

.footer_contacts_title {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: rgba(255, 255, 255, 1);
    margin-top: 36px;
}

.footer_number {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    margin-top: 36px;
}

.footer_number:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.footer_contacts_address {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.footer_contacts_address h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
}

.footer_contacts_address p {
    margin-top: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);;
}

.footer_contacts_social {
    margin-top: 36px;
}

#whatsapp {
    margin-left: 25px;
}

.space_mobile {
    display: none;
}

#footer_contacts_map {
    width: 50%;
    height: 400px;
}

@media (max-width: 870px) {
    .space_mobile {
        display: block;
    }

    .footer {
        display: block;
        height: auto;
    }

    .footer_container {
        flex-direction: column; /* Изменяем направление на колонку для мобильных устройств */
        align-items: center; /* Центрируем элементы */
    }

    .footer_contacts_container {
        width: 100% !important;
        padding: 40px 10px;
    }

    #footer_contacts_map {
        width: 100% !important;
    }
    .footer_contacts_address h2 {
        display: none;
    }

    .footer_contacts_wrapper {
        text-align: center;
        margin-left: 0;
    }

    .footer_contacts_title {
        font-size: 36px;
        line-height: 54px;
    }

    .footer_contacts_social {
        display: flex;
        width: 100%;
        height: 32px;
        justify-content: center;
    }

    #footer_contacts_map {
        height: auto; /* Или задайте фиксированное значение */
        width: 100%;
    }
}

@media (max-width: 980px) {
    .trial_session {
        font-size: 16px;
    }
}
